.home_img{
    display: block;
    text-align: center; 
}
.home_img :nth-child(1){
    width: 100%;
}
.home_img :nth-child(2){
    width: 100%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.text{ 
    color:white;
    font-size: 6rem;
    font-family: 'Brush Script MT', cursive;
    

}

.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    width:100%;
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    /* left: 5%; */
    /* right: 5%; */
    top: 4vw; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    /* width: 100%; Set the width of the positioned div */
}

