@media only screen and (min-width: 47rem){

    nav button {display:none}

    nav ul {
        display: flex;
        margin:2vw;
    }

    .nav-menu li {
        display:block;
        justify-content: right;
    }

    .nav-menu{
    display:flex;
    justify-content: space-between;
    gap:15px;
    align-content: center;
    }

    nav ul li a {
    border:none;
    border-right:3px solid rgba(0, 0, 0, 0.3);
    border-left:3px solid rgba(0, 0, 0, 0.3);
    align-content: center;
    padding-right: 30px; 
    padding-left:30px 
    }

    #menu-icon {
        display:none;
    }
    .grid-container{
        display:grid;
        /* grid-template-columns: 30% 20% 50%; */
        /* grid-template-columns: 1fr 2fr 1fr; */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows:repeat(19, minmax(50px, auto));
        grid-gap:10px;
        /* grid-auto-rows: minmax(200px, auto); */
        background-color: tan;
        padding:10px;
    }
    
    #hero{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        border:1px solid gray;
        grid-column: 1/7;
        grid-row:1/4;
    }
    #event{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        border:1px solid gray;
        grid-column: 1/4;
        grid-row:16/20;

    }
    #weather{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        border:1px solid gray;
        grid-column: 4/7;
        grid-row:16/20;
        position: relative;
        display:inline-block;
    }

    #weather .sunPhoto{
        border-radius: 50%;
        height:70px;
        width:70px;
    }



    #weather .weatherText{
        z-index: 999;
        margin:0 auto;
        top:8%;
        left:0;
        right:0;
        bottom:8%;
        color: black;
        background-color: rgba(11, 70, 7, 0.5);

    }

    #weather .clear_skys{
        z-index: 999;
        margin:0 auto;
        top:35%;
        left:35%;
        
        color: white;
        background-color: rgba(11, 70, 7, 0.5);

    }

    #weather .degrees {
        z-index: 999;
        margin:0 auto;
        top:56.7%;

        left:35%;
        color: white;
        background-color: rgba(11, 70, 7, 0.5);

    }

    #weather .wind {
        z-index: 999;
        margin:0 auto;
        top:70%;
        left: 15%;
        right:15%;
        color: white;
        background-color: rgba(11, 70, 7, 0.5);

    }

    .wind{
        font-size: 1.5rem;
    }


    #news1{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        border:1px solid gray;
        grid-column: 1/7;
        grid-row:4/8;

    }

    #spotlights{
        grid-column: 1/7;
        grid-row: 8/12;
        display:flex;
        grid-gap:10px;
        justify-content: center;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #spot1{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        


    }
    #spot2{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        
    }
    #spot3{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        display:none;
    }

    .medium_not_square1{
        display:none;
    }

    .medium_not_square2{
        display: none;
    }

    .medium_square1{
        display: block;

    }

    .medium_square2{
        display: block;

    }

    .medium_square3{
        display: block;


    }

    #join{
        background-color: lightgray;
        padding:20px;
        font-size: 30px;
        text-align:center;
        border:1px solid gray;
        grid-column-start:1;
        grid-column-end: 7;
        grid-row:12/16;

    }
    img.danceEventNormal{
        display:none;
        width:330px;
        height: auto;
    }

   img.danceEventNarrow{
        display: block;
        height:100%;
        width:100%;
    }

    .CameronPhotoNarrow{
        display:block;
        height:100%;
        width:100%;
    }
    .CameronPhotoNormal{
        display:none;
    }
    
 
    
}
@media only screen and (min-width: 55rem){
   .photos{
 grid-template-columns: 50% 50%;   
}
.bodyC{
     padding-right:5%;
 } 
}

.head_stuff{
    background-color: gray;
    padding: 2vw;
    margin:0 auto;
}